<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="row">
    <div class=" mx-auto">
        <h3 class="mx-auto my-2">Potvrda registracije</h3>
        <button class="btn btn-primary mx-auto" (click)="activate()">Aktiviraj nalog</button>
    </div>
</div>
