<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<div *ngIf="showList" class="col-md-11 my-3 offset-md-1">
<table *ngIf="showList" table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Naslov rada</th>
            <th scope="col">Abstract</th>
            <th scope="col">Kljucni pojmovi</th>
            <th scope="col">Opcije</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let val of works; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{val.title}}</td>
            <td>{{val.workAbstract}}</td>
            <td>{{val.keyTerms}}</td>
            <td>
                <button class="btn btn-warning mr-1" (click)="downloadPdf(val.id,val.title)">Preuzmi PDF</button>
                <button class="btn btn-primary" (click)="getReviewingForm(val.id)">Recenziraj</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<div *ngIf="!showList" class="row mt-2">
    <div class="col-md-5 mx-auto" style="background-color: whitesmoke">
        <h3 class="text-center" style="color: black">Recenzija:</h3>
        <form [formGroup]="reviewingWorkForm" #f="ngForm" (ngSubmit)="postReviewingForm(f.value, f)" ngNativeValidate>
            <div class="form-group col-md-12 m-2">
                <label></label>
                <br>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Komentar za autora:</label>
                    <textarea formControlName="commentForAuthor" type="text" class="form-control" ></textarea>
                    <div *ngIf="submitted && reviewingWorkForm.get('commentForAuthor').hasError('required')" class="error mb-3">
                        <div style="color:red" *ngIf="reviewingWorkForm.get('commentForAuthor').hasError('required')">Ovo polje je obavezno!!!</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Komentar za urednika:</label>
                    <textarea formControlName="commentForEditor" type="text" class="form-control" ></textarea>
                    <div *ngIf="submitted && reviewingWorkForm.get('commentForEditor').hasError('required')" class="error mb-3">
                        <div style="color:red" *ngIf="reviewingWorkForm.get('commentForEditor').hasError('required')">Ovo polje je obavezno!!!</div>
                    </div>
                </div>
                <div>
                    <label for="exampleFormControlInput1">{{field.label}}:</label>
                    <select  formControlName="recommendation" class="form-contro form-control-lg col-md-12">
                    <option value="prihvati">Prihvati</option>
                    <option value="male_izmene">Male izmene</option>
                    <option value="velike_izmene">Velike izmene</option>
                    <option value="odbij">Odbij</option>
                    </select>
                    <div *ngIf="submitted && reviewingWorkForm.get('recommendation').hasError('required')" class="error mb-3">
                            <div style="color:red" *ngIf="reviewingWorkForm.get('recommendation').hasError('required')">Odaberite vrednost polja!</div>
                    </div>
                </div>
            </div> 
            <div class="col-md-6 text-right">
                <input class="btn btn-primary" type="submit" value="Dalje">
            </div>
        </form><br>
    </div>
</div>
