<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="col-md-11 my-3 offset-md-1">
<table *ngIf="showList" table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Naslov rada</th>
            <th scope="col">Ime autora</th>
            <th scope="col">Prezime auora</th>
            <th scope="col">Opcije</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let val of checkPdfWorks; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{val.title}}</td>
            <td>{{val.authorName}}</td>
            <td>{{val.authorSurname}}</td>
            <td>
                <button class="btn btn-primary mr-2" (click)="approveWork(val.id,val.processId,val.title)">Prihvati rad</button>
                <button class="btn btn-warning" (click)="fixNeed(val.id,val.processId,val.title)">Posalji na ispravku</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<div class="bg-light col-md-6 offset-md-3 my-3 pb-3" *ngIf="!showList">
    <div class="text-center py-3">
        <h3>Zahtev za ispravku</h3>
    </div>
    <form #f="ngForm" (ngSubmit)="sendToFix(f.value, f)">
        <div class="col-md-6 offset-md-3">
            <div *ngFor="let field of formFields">
                <div *ngIf="field.type.name=='string'" class="form-group">
                    <label for="exampleFormControlInput1">{{field.label}}</label>
                    <textarea ngModel name="{{field.id}}" type="text" class="form-control" id={{field.id}} rows="5"> </textarea>          
                </div>
                <div *ngIf="field.type.name=='date'" class="form-group">
                        <label for="exampleFormControlInput1">{{field.label}}</label>
                        <input ngModel name="{{field.id}}" type="date" class="form-control" id={{field.id}} >         
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Posalji">
            </div>
        </div>
    </form>
</div>